<form
        name="vm.thirdStepForm">
    <div class="md-padding">
        <div layout="row" layout-align="center start">
            <div class="vertical-divider padding-right margin-right" flex="50">
                <p>Your favorite <strong>Star Wars</strong> movie is:</p>
                <div flex="50">
                    <img  src="img/{{vm.form.favoriteStarWarsMovie.poster}}" />
                </div>
                <p flex class="md-title">{{vm.form.favoriteStarWarsMovie.name}}</p>
            </div>
            <div flex="50">
                <p>You're current <strong>watching on TV</strong>:</p>
                <md-chips ng-model="vm.form.currentWatchingOnTv" readonly="true">
                    <md-chip-template>
                        {{$chip}}
                    </md-chip-template>
                </md-chips>
                <p ng-show="vm.form.currentWatchingOnTv.length == 0" class="md-body-1">You're not a fan of tv, I may say...</p>
            </div>
        </div>
        <md-divider class="margin-top margin-bottom"></md-divider>
        <div layout="row" layout-align="center start">
            <div class="vertical-divider margin-right padding-right" flex="50">
                <p>You chose to be:</p>
                <p class="md-display-1" ng-show="vm.form.bolachaOrBiscoito == 'BISCOITO'">#TeamBiscoito</p>
                <p class="md-display-1" ng-show="vm.form.bolachaOrBiscoito == 'BOLACHA'">#TeamBolacha</p>
            </div>
            <div flex="50">
                <p>Your <strong>favorite</strong> foods:</p>
                <md-chips ng-model="vm.form.favoriteFoods" readonly="true">
                    <md-chip-template>
                        {{$chip}}
                    </md-chip-template>
                </md-chips>
            </div>
        </div>

    </div>

    <md-divider></md-divider>
    <div class="md-padding" layout="row" layout-align="start center">
        <md-button class="md-primary" ng-disabled="vm.currentStep == '0'" ng-click="vm.previousStep()">Back</md-button>
        <span flex></span>
        <md-button class="md-raised md-primary" ng-click="vm.nextStep()">Save</md-button>
    </div>
</form>