<form
        name="vm.secondStepForm">
    <div class="md-padding">
        <div>
            <p>Quick question to the <strong>never-ending</strong> story, {{vm.form.name}}:</p>
            <md-radio-group ng-model="vm.form.bolachaOrBiscoito" layout="row" layout-align="start center" class="md-primary" required>
                <md-radio-button ng-value="'BISCOITO'" ng-class="{'selected-text': vm.form.bolachaOrBiscoito == 'BISCOITO'}">#teamBiscoito</md-radio-button>
                <md-radio-button ng-value="'BOLACHA'" ng-class="{'selected-text': vm.form.bolachaOrBiscoito == 'BOLACHA'}">#teamBolacha</md-radio-button>
            </md-radio-group>
        </div>
        <md-divider class="margin-top"></md-divider>
        <div layout="column" layout-align="start start">
            <p>What are your <strong>favorite foods</strong>: (pick at least one)</p>
            <md-checkbox ng-class="{'selected-text': vm.exists(food.name, vm.form.favoriteFoods)}" class="md-primary" ng-repeat="food in vm.foods | orderBy: 'name'" ng-checked="vm.exists(food.name, vm.form.favoriteFoods)" ng-click="vm.toggle(food.name, vm.form.favoriteFoods)">
                <md-icon md-svg-src="img/icons/{{food.icon}}"></md-icon>
                <span class="md-body-1">{{food.name}}</span>
            </md-checkbox>
            <md-checkbox ng-class="{'selected-text': vm.isChecked()}" class="md-primary" ng-checked="vm.isChecked()" md-indeterminate="vm.isIndeterminate()" ng-click="vm.toggleAll()">If it's <strong>food</strong>, I eat!</md-checkbox>
        </div>
    </div>
    <md-divider></md-divider>
    <div class="md-padding" layout="row" layout-align="start center">
        <md-button class="md-primary" ng-disabled="vm.currentStep == '0'" ng-click="vm.previousStep()">Back</md-button>
        <span flex></span>
        <md-button class="md-raised md-primary" ng-click="vm.nextStep()" ng-disabled="vm.secondStepForm.$invalid || !vm.form.favoriteFoods.length">Next</md-button>
    </div>
</form>