<form
        name="vm.firstStepForm">
    <div>
        <p>Your favorite <strong>Star Wars</strong> movie is:</p>
    <md-radio-group required class="md-primary" ng-model="vm.form.favoriteStarWarsMovie" layout="row" layout-wrap layout-align="center start">
        <md-radio-button ng-repeat="movie in vm.starWarsMovies" ng-value="movie.id" flex="20">
            <img ng-class="{'selected-img': vm.form.favoriteStarWarsMovie == movie.id}" flex="100" src="img/{{movie.poster}}"/>
            <p class="md-caption" ng-class="{'selected-text': vm.form.favoriteStarWarsMovie == movie.id}">{{movie.name}} <strong>({{movie.year}})</strong></p>
        </md-radio-button>
        <md-radio-button ng-value="'TREK'" flex="20">
            <img ng-class="{'selected-img': vm.form.favoriteStarWarsMovie == 'TREK'}"  flex="100" src="img/star_trek_poster_01.jpg"/>
            <p class="md-caption" ng-class="{'selected-text': !vm.form.favoriteStarWarsMovie == 'TREK'}">Or, <strong>Star Trek</strong><br> all the way!</p>
        </md-radio-button>
    </md-radio-group>
    </div>
    <div>
        <p>What are your <strong>current watching</strong> on TV: (up to 10)</p>
        <md-chips
                md-autocomplete-snap
                md-require-match="false"
                ng-model="vm.form.currentWatchingOnTv"
                required
                name="tvShows"
                md-max-chips="10">
            <md-autocomplete
                    flex="100"
                    md-selected-item="vm.selectedItem"
                    md-search-text="searchText"
                    md-items="item in vm.querySearch(searchText, vm.tvShows)"
                    md-item-text="item"
                    placeholder="Search for TV Shows"
                    md-select-on-match>
                    <span md-highlight-text="searchText">{{item}}</span>
            </md-autocomplete>
        </md-chips>
    </div>
</form>